.bg-gradient {
    background: rgb(20,155,179);
    background: -moz-radial-gradient(circle, rgba(20,155,179,1) 0%, rgba(0,138,156,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(20,155,179,1) 0%, rgba(0,138,156,1) 100%);
    background: radial-gradient(circle, rgba(20,155,179,1) 0%, rgba(0,138,156,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#149bb3",endColorstr="#008a9c",GradientType=1);
  }
  
  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  
  @font-face {
    font-family: headerFont;
    src: url(../fonts/Oswald-Medium.woff);
  }
  @font-face {
    font-family: montMediumFont;
    src: url(../fonts/Montserrat-Medium.woff);
  }
  @font-face {
    font-family: montRegularFont;
    src: url(../fonts/Montserrat-Regular.woff);
  }
  
  $black: #0000;
  $blue: #2f4858;
  $orange: #ffa800;
  $yellow: #ffcb66;
  $white: #fff;
  
  $responsiveBar: 1100px;
  $tablet: 920px;
  $mobile: 700px;
  
  @mixin tablet {
    @media screen and (max-width: #{$tablet}) {
        @content;
    }
  }
  @mixin mobile {
    @media screen and (max-width: #{$mobile}) {
        @content;
    }
  }
  
  @mixin navigationBar {
    @media screen and (max-width: #{$responsiveBar}) {
        @content;
    }
  }
  
  
  
  
  
  //VideoContainer
  .video-container{
      // height: 100vh;
      // background-image:url(/assets/img/SparkleVideo1.png); 
      // background-repeat: no-repeat;
      // background-size: cover;
      // background-position: center;
  }
  .big-video{
    width: 100%;
    height: 100vh;
    // background-image: url(/assets/img/SparkleVideo1.png);
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
    @include tablet{
        height: auto;
    }
  }
  .svg-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .mobCircle {
    display: none;
  }
  .triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 18px solid transparent;
    border-left: 31px solid $white;
    border-bottom: 18px solid transparent;
    border-radius: 2px;
    top: 50%;
    left: 50.3%;
    transform: translate(-50%, -50%);
  }
  //responsive video block
  @include mobile {
    .circle {
        display: none;
    }
    .mobCircle {
        display: block;
    }
    .triangle {
        border-top: 10px solid transparent;
        border-left: 22px solid #fff;
        border-bottom: 10px solid transparent;
        left: 50.6%;
    }
  }
  
  
  //VideoContainer
  //text 
  .textBox {
      align-items: center;
      text-align: center;
      margin: auto;
      height: 414px;
      max-width: 654px;
      width: 100%;
      color: $blue;
    }
    @include tablet{
      .textBox {height: 440px;}
    }
    @include mobile{
      .textBox {
        height: 284px;
        .regularText{
            font-size: 12px;
        }}
    }
    //text
    
    
    .gallery-container-1 {//gallery
      // flex-flow: row;
      display: grid;
      grid-template-columns: 1fr 1fr;
      .vector-top {
          position: absolute;
          top: -16px;
          width: 100%;
          z-index: 1;
      }
      .vector-bot {
          position: absolute;
          bottom: -13px;
          width: 100%;
          z-index: 1;
          // transform: rotate(180deg);
      }
      img {
          width: 50%;
      }
      .img5 {
          width: 55%;
      }
      .flex-column-container {
          display: flex;
          flex-direction: column;
          width: 45%;
          img {
              width: 100%;
          }
      }
  }//gallery
  
  @include tablet { //responsive gallery
      .textBox {height: 440px;}
  .gallery-container-1 {
              .vector-bot{bottom: -2px;}
              .vector-top{top: -9px;}
          }
  }
  @include mobile {
      .textBox {
          height: 284px;
          .regularText{
              font-size: 12px;
          }
      }
      .gallery-container-1 {
          flex-direction: column-reverse;
          display: flex;
          .vector-top{display: none;}
          .vector-bot{display: none;}
      }
  }   //responsive gallery
    
    
    .vector-top-mobile{  //Mobile Gallery Top Vector
      display: none;
      @include mobile{
          display: block;
          position: absolute;
          z-index: 1;
          top: 0px;
          width: 100%!important;
      }
    }//Mobile Gallery Top Vector
    
    .vector-bot-mobile{//Mobile Gallery Bot Vector
      display: none;
      @include mobile{
          display: block;
          z-index: 1;
          position: absolute;
          bottom: 0px;
          width: 100%!important;
      }
    }//Mobile Gallery Top Vector  
  
    .button-container{//button-container
      margin: 75px 0px;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;
      @include tablet{
          flex-direction: row-reverse;
      }
      @include mobile{
          margin: 120px 0px 60px;
          flex-direction: column;
      }
          .button-box{
              display: flex;
              flex-direction: column;
              height: 129px;
              margin: 75px 0px;
              align-items: center;
              @include tablet{
                  height:149px ;
              }
              @include mobile{
                margin: 0px 0px 80px 0px;
              }
          }
          h2{
            font-weight: 100;
              @include tablet{
                  font-size: 18px;
                  line-height: 26px;
              }
          }
          .title{
            margin-bottom: auto;
  
            @include tablet{
                max-width: 233px;
            }
            @include mobile{
                max-width: 280px;
                margin-bottom: 30px;
            }
        }
  
  }//button-container
  
  
  
  
  
  .formContainer { //formContainer
    h4 {
        margin-bottom: 40px;
        text-align:center;
    }
    .formStart {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        display: flex;
        margin: 0px 0px 150px;
        @include tablet{
            margin: 0px 0px 82px;
        }
        @include mobile{
            margin: 0px 0px 140px;
        }
        form {
            width: 612px;
            div:first-child {
              input:not(:last-child) {
                margin-right: .5rem;
                }
            }
            .textInput {
                // background: rgba(196, 196, 196, 0.4);
                border-radius: 6px;
                width: 100%;
                padding: 7px 5px 3px 10px;
                border: solid 1px #e7e7e7;
                margin: 7px 0px;
                font-family: montRegularFont;
                resize: none;
                &::placeholder {
                    font-family: montRegularFont;
                    // color: $blue;
                }
            }
            p {
                color: $blue;
                line-height: 17px;
                font-size: 14px;
            }
            .checkbox-container {
                margin-right: 13px;
                margin-top: 1px;
                width: 34px;
            }
            input[type="checkbox"]{ //hide checkbox
                position: absolute;
                opacity: 0;
                z-index: 1;
                height: 15px;
                width: 15px;
            }
            .checkmark { //custom checkbox
                position: absolute;
                height: 15px;
                width: 15px;
                background-color: #e7e7e7;
                border: solid 1px #e7e7e7;
                border-radius: 3px;
            
              }
              input:checked ~ .checkmark {
                // background-color: $orange;
              }
              .checkmark:after {
                content: "";
                position: absolute;
                display: none;
              }
              
              /* Show the checkmark when checked */
              input:checked ~ .checkmark:after {
                display: block;
              }
              
              /* Style the checkmark/indicator */
               .checkmark:after {
                left: 5px;
                width: 4px;
                height: 10px;
                border: solid white;
                border-width: 0 2px 2px 0;;
                transform: rotate(45deg);
              }
            .acceptTerms {
                padding-top: 25px;
                padding-bottom: 50px;
                display: flex;
            }
            span {
                font-size: 14px;
                font-family: montRegularFont;
                line-height: 17px;
                // color: $blue;
            }
        }
        @include tablet {
            form {
                // width: 80%;
                .acceptTerms {
                    padding-top: 10px;
                }
            }
        }
        @include mobile {
            form {
                width: 100%;
            }
        }
    }
    #thank-you{ //thank you box
        height: 137px;
        color: $orange;
        display: none;
        margin-top: 47px;
        span{
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            color: $orange;
  
        }
        p{
            color: $orange;
            margin-top: 30px;
        }
    }//thank you box
    @include mobile{
        #thank-you{
            margin-top: 37px;
            span{
                font-size: 18px;
                line-height: 22px;
            }
            p{
                font-size: 14px;
                line-height: 19px;
            }
        }
    }
  } //formContainer
  
  .sponsorContainer { //sponsorContainer
    padding-bottom: 115px;
    @include tablet{
      padding-bottom: 110px;
    }
    @include mobile{
        padding: 0px 20px 55px;
        margin-bottom: -55px;
    }
    .vector-top {
        position: absolute;
        width: 100%;
        top: -22px;
        left: 0;
    }
    h3 {
      padding:80px 0px 65px;
        color: $blue;
        @include tablet{
          padding: 70px 0px;
        }
        @include mobile{
          padding: 60px 0px 40px;
        }
    }
    .imgRow {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        // height: 300px;
        // padding-bottom: 50px;
        img{
          max-height: 120px;
        }
    }
  
    @include tablet {  //responsive sponsor elements
            .vector-top{top: -15px;}
            .vector-bot {bottom: -7px;}
        .imgRow {
            padding-bottom: 50px;
            img{
              max-height: 80px;
            }
        }
        .imgRow > div{
          max-width:144px;
          justify-self: center;
        }
    }
    @include mobile {
        .imgRow {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-column-gap: 5px;
          grid-row-gap:42px;
           & > div{
             max-width: 130px;
           }
           img{
            max-height: 70px;
          } 
          }
          .vector-top{
                top: -12px;
                height: 15px;
            }
        
    }//responsive sponsor elements
  } //sponsortContainer
  
  
  .ideja-container{ //ideja container
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;  
    .regularText{
      margin-bottom: 150px;
    }
  } //ideja container
  
  
  @include mobile{  //ideja container Mobile
    .ideja-container{
        .regularText{
        margin-bottom: 80px;
        font-size: 12px;
        line-height:15px;
      }
    }
  
  }//ideja container Mobile
  
  .big-picture-container{//big-picture-container
    // background-image: url(/assets/img/Juris_desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:705px;
    @include tablet{
    // background-image: url(/assets/img/Juris_tablet.png);
    height: 430px;
    }
    @include mobile{
    height: 476px;
    // background-image: url(/assets/img/Juris_mobile.png);
    }
    .big-picture{
        z-index: -1;
    }
    .linear-bg{
      background: linear-gradient(0deg, rgba(47, 72, 88, 0.8) 18.63%, rgba(47, 72, 88, 0) 49.21%);
      height:705px;
      display: flex;
      @include tablet{
      height: 430px;
      }
      @include mobile{
      height: 476px;
      }
  }
  .text-container{
      text-align:center;
      display: flex;
      padding-bottom: 5%;
      margin: auto auto 0px auto;
      color: $white;
      h3{
        margin: 0px 5px;
        max-width: 818px;
        flex: 1;
            @include tablet{
             max-width: 595px;
        }
            @include mobile{
              max-width: 280px;
              font-size: 18px;
              max-width: 818px;
              line-height: 27px;
      }
      }
      @include tablet{
      
      }
  }
    .vector-top{
        width: 100%;
        top: -1px;
        position: absolute;
  
    }
    .vector-bot{
        width: 100%;
        bottom: -1px;
        position: absolute;
        left: 0px;
    }
  }//big-picture-container
  .slider-container {//slider-container 
    margin:auto;
    padding: 150px 0px 165px;
    .carousel{
        overflow: hidden;
        margin: 0 auto;
        width: 80%;
    }
    .slider{
        display: flex;
        transition: .5s;
        .slide{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .slide-box{
                max-width: 608px;
            }
        }}
    .comment{
        max-width:602px;
        padding:30px 0px;
        p{
            font-style: italic;
            font-size: 24px;
            line-height: 29px;
            @include mobile{
            font-size: 12px;
            line-height: 15px;
            }
        }}
    .controls{
        .arrow-container{
            width: 602px;
            margin: auto;
            & > div{
                margin-right: 40px;
            }
            @include mobile{
                width: 307px;
            }
        }
        .left:hover, .right:hover {
            cursor: pointer;
        }}
  
    @include mobile{ //slider-container  MOBILEd 
    margin: 130px 0px 125px;
    // padding: 0px;
        .carousel{
            width: 100%;
        }
        h3{
           font-size:18px;
           line-height: 27px;
        }
        .comment{
            max-width: 279px;
            padding: 20px 0px 30px 0px;
        }
        .regularText{
            font-size: 14px;
            line-height: 17px;
        }
    
    }//quotes-slider MOBILE
  }
  
  
  .apply-dream-container{ //apply-dream-container
    margin-bottom: 90px;
        @include mobile{
            margin-bottom: 80px;
        }
        .regularText{
            font-size: 24px;
            line-height: 29px;
            @include tablet{
                max-width: 608px;
            }
            @include mobile{
                font-size: 14px;
                line-height: 17px;
                max-width: 280px;
            }
        }
  }//apply-dream-container
  
  .what-dream-container{//what-dream-containerr
    margin-bottom: 150px;
    // height: 744px;
    flex-flow: wrap;
    @include tablet{
      margin-bottom: 90px;
    }
    @include mobile{
        // margin-bottom: 90px;
    }
    }//what-dream-container
    
    .dream-box{ //dreaam-box
        max-width: 394px;
        min-width: 300px;
        height: 594px;
        padding: 5px;
        margin-bottom: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        @include tablet{
            max-width: 608px;
            // max-height: 594px;
            height: auto;
            margin-bottom: 60px;
        }
        @include mobile{
            // height: auto;
            // margin-bottom: 60px;
        }
        .img-box{
            max-width:166px;
            height: 198px;
            @include mobile{
                width: 160px;
                height: 185px;
            }
        }
        .balloon-img{
            @include mobile{
            position: absolute;
            top: 0px;
            left: 20px;
            }
        }
        h2{
            margin:60px 0px 30px 0px;
            @include mobile{
            margin: 30px 0px 10px;
            }
        }
    
        button{
            margin-top: auto;
            @include tablet{
                margin-top: 50px;
            }
        }
    }//dreaam-box
  
    .gallery-container-2{ //gallery-container-2
      margin-bottom: 150px;
      img{
        width: 100%;
      }
          @include mobile{
              flex-direction: column-reverse;
              margin-bottom: 120px;
          }
      .vector-top{
          position: absolute;
          top: -5px;
          z-index: 1;
          @include mobile{
             display: none;
          }
      }
      .vector-bot{
          position: absolute;
          bottom: -5px;
          z-index: 1;
          left: 0px;
          @include mobile{
              display: none;
          }
      }
      .img6{
          width: 49%;
      }
      .img7{
          width: 46%;
      }
      .img9{
          width:38%;
      }
      .img10{
          width:62% ;
      }
      
  }//gallery-container-2
  
  
  
  .purpose-container{ //purpose container     
    display: flex;
    flex-direction: column;
    align-items: center;
    h4{
        margin-top: 150px;
        margin-bottom:90px ;
    }
    .img-box{
        max-width: 150px;
        
    }
    .text-box{
        max-width:500px;
        @include tablet{
            max-width: 353px;
        }
    }
    
    .rows{
        width: 100%;
        // height: 890px;
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: space-around;
    }
    .purpose-row{
        display: flex;
        align-items: center;
    }
  
    .purpose-row:nth-child(odd){
        margin: 0px 0px 101px 8%; 
        @include tablet{margin: 0px 0px 92px 7%;}
        .img-box{margin-right: 62px;}
        .text-box{text-align: left;}
      
    }
    .purpose-row:nth-child(even){
        flex-direction: row-reverse;
        margin-right: 24%;
        margin-bottom: 112px;
        @include tablet{margin-right: 5%;margin-bottom: 91px;}
        .img-box{margin-left: 67px;}
        .text-box{text-align: right;}
    }
    .purpose-row:last-child{
        margin-bottom: 150px;
    }
    @include mobile{ //purpose container-mobile
        h4{
            font-size: 24px;
            line-height: 36px;
            margin-top: 120px;
            margin-bottom: 0px;
        }
        .img-box{ 
            max-width:118px;
        }
        .regularText{
            font-size: 12px;
            line-height: 15px;
            text-align: center;
        }
        .rows {justify-content: space-evenly;}
        .purpose-row{flex-direction: column;}
  
        .purpose-row:nth-child(odd) { margin: 60px 0px;}
        .purpose-row:nth-child(odd) .img-box { margin: 20px 0px;}
  
        .purpose-row:nth-child(even) .img-box { margin: 20px 0px;}
        .purpose-row:nth-child(even) {
            flex-direction: column;
            margin: 0px;
        }
        .purpose-row:last-child{
            margin-bottom: 120px;
        }
        } //purpose container-mobile
  }//purpose container
  
  .mission-container{//mission-container
    h4{
        font-size: 40px;
        margin-bottom: 50px;
        @include tablet{
            margin-bottom: 38px;
        }
        @include mobile{
            margin-bottom: 25px;
            font-size: 24px;
        }
    }
    .regularText{
        font-weight: 500;
        margin-bottom: 150px;
        font-size: 24px;
        line-height: 30px;
        @include mobile{
            margin-bottom: 120px;
            font-size: 18px;
            line-height: 22px;
        }
    }
  }//mission-container
  
  .yellow-container{//yellow-container
    // background: url(/assets/img/yellow_background.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: auto;
    @include tablet{
        background-size: cover;
    }
    .img-box{
        margin-top: 75px;
    }
    .img-box.ib1{
      //  max-width: 367px;
    }
    .img-box.ib2{
       max-width: 401px;
    }
  
    .regularText{
        margin:40px 0px 89px;
        font-size: 24px;
        line-height: 29px;
        color: $white;
        @include tablet{
            max-width: 608px!important;
        }
    }
    .regularText.t1{
        // max-width: 818px;
  
    }
    .regularText.t2{
        max-width: 1030px;
    }
  
  } //yellow-container
  @include mobile{//yellow-container MOBILE
    .yellow-container{
        background-size: cover;
        .regularText{
            max-width: 280px!important;
            font-size: 18px;
        }
        .img-box{
            width: 262px;
        }
    }
  } //yellow-container MOBILE
  
  .dream-judge-container{ //dream-judge-container
    text-align: center;
    padding: 150px 0px;
    .sections{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        section{
          display: flex;
          justify-content: flex-end;
          max-height: 400px;
          flex-direction: column;
          align-items: flex-end;
        }
    }
    .text-box{
        max-width: 290px;
        margin-top: 30px;
        height: 100px;
    }
    .regularText{
        font-size: 24px;
        line-height: 30px;
    }
    .icon-box{
      margin: 60px auto 0px;
    }
    @include tablet{ //dream-judge-container tablet
        .text-box{
            max-width: 255px;
        }
        .regularText{
            font-size: 18px;
            line-height: 22px;
        }
    }
    @include mobile{ //dream-judge-container mobile
        padding: 120px 20px;
    }
  }//dream-judge-container
  
  .select-container{ ////.select-container
    justify-content: center;
    display: flex ;
    .regularText.yellow{
        letter-spacing: -0.015em;
        margin-bottom: 15px;
        color: $orange;
        font-weight: 500px;
    }
    .select-box{
        max-width: 288px;
        height: 43px;
        width: 100%;
        text-align: left;
        display: flex;
        margin: 0px 30px 60px 0px;
        flex-direction: column;
    }
  }////.select-container
  
  .companies{ //food-companies
    max-width:823px;
    margin: auto;
    display: none;
    flex-direction: column;
    @include mobile{
        display: none!important;
    }
  
    .img-container{
        max-width: 120px;
        margin-right: 91px;
    }
    p{
        font-size: 24px;
    }
    span{
        width: 288px;
        margin-left: auto;
        font-size: 18px;
        line-height: 22px;
    }
  .company-row{
      display: flex;
      align-items: center;
      margin-bottom: 33px;
    }
  }
  
  @include tablet{  //food-companies TABLET
    .companies{
        max-width: 608px;
        .company-row{
            margin-bottom: 35px;;
        }
        .img-container{
            max-width: 98px;
            margin-right: 30px;
        }
        span{
            max-width: 135px;
        }
    }
  } //food-companies TABLET
  
  .display-flex{
    display: flex;
  }
  
  #map{
    height: 648px;
    margin-top: 27px;
    @include tablet{
        margin-top: 35px;
    }
    @include mobile{
        margin-top: 40px;
        margin-bottom: -52px;
    }
  }
  
  .custom-select{ //custom-select
    width: 100%; 
    height: 43px;
    padding: 12px 60px 9px 15px;
    border: 1px solid rgba(196, 196, 196, 0.4);
    border-radius: 6px;
    font-family: montRegularFont;
    color: $blue;
    font-size: 18px;
    line-height: 22px;
    background-color: rgba(196, 196, 196, 0.4);
    &:focus{
        border-color: rgba(196, 196, 196, 0.4);;
        box-shadow:none;
    }
    option{
        border: 1px solid rgba(196, 196, 196, 0.4);
        border-radius: 6px;
    }
  }//custom-select
  
  @include tablet{ 
    .select-container{ //.select-container
        justify-content: center;
        display: flex ;
        flex-wrap: wrap;
        .regularText.yellow{
            letter-spacing: -0.015em;
            margin-bottom: 15px;
        }
        .select-box{
            max-width: 288px;
            width: 100%;
            text-align: left;
            display: flex;
            margin:0px 30px 70px 0px;
            @include mobile{
                margin:0px 0px 50px 0px;
            }
        }
    }//select-container
  }
  ////////////////////////////////////////////Sapņus atbalsta PAGE END  /////////////////////////////////
  
  ////////////////////////////////////////////99-iedvesmas stasti PAGE   /////////////////////////////////
  
   /* 99-storie block     */
   .margin-box{ //margin-box
      margin: 0px 80px 152px;
      text-align: center;
      .simple-btn{
          background-color: $orange;
          border: solid 2px $orange;
          border-radius: 23px;
          color: $white;
          margin-top: 50px;
          display: none;
          &:hover {
              background-color: $white;
              color: $orange;
          }
          @include tablet{
              display: inline-block;
          }
      }
     @include tablet{
      margin: 0px 80px 150px;
     }
      @include mobile{
          margin: 0px 0px 120px;
     }
  }//margin-box
  
  .stories-container{//stories-container 
      display: grid;
      grid-template-columns: repeat(auto-fit, 160px);
      justify-content: center;
      row-gap: 14px;
      column-gap: 14px;
      max-width: 1030px;
      margin: auto;
      .story-box, .no-story{
          background: url("/wp-content/uploads/2020/10/golden_bg.jpg"); 
          transition: all 0.3s;
  
          &:hover{cursor: pointer;}
          &:hover img{opacity: 0;}
          &:hover .author{display: block;}
  
          .author, .new-author{
              display: none;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              font-size:24px;
              line-height: 35px;
              text-align: center;
              color: $white;
              // font-weight: bold;
              font-family: headerfont;
              transition: all 0.3s;
          }
          .new-author{
              display: block;
              font-size:18px;
              line-height: 27px;
              width: 100%;
              @include mobile{
                  font-size: 14px;
                  line-height: 21px;
              }
          }
      }
      .no-story{
          height: 160px;
          &:hover{
              cursor: default;}
      }
      img{
          opacity: 0.35;
          transition: all 0.3s;
      }
      .number-text{
          font-size: 44px;
          position: absolute;
          bottom: -13px;
          right: 14px;
          font-weight: 500;
          color: #fff;
      }
      .display-none-tablet{
          display: block;
      }
  }//stories-container
  @include tablet{//stories-container TABLET
      .stories-container{
      grid-template-columns: repeat(auto-fit, 137px);
      row-gap: 16px;
          .no-story {
          height: 137px;
          }
      .display-none-tablet{
          display: none;
      }
      }
  }//stories-container TABLET 
  @include mobile{//stories-container MOBILE 
      .stories-container{
      grid-template-columns: repeat(auto-fit, 124px);
      row-gap: 12px;
          .no-story{
          height: 124px;
          }
      }
  }//stories-container MOBILE
  .modal{//MODAL
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      z-index: 11;
      color: $white;
      background-color:$blue;
      background-color: rgba(47, 72, 88, 0.9);
  
      .modal-container{
          // margin: 47px auto 25px;
          width: 100%;
          @include navigationBar{
              // margin: 150px 80px 25px ;
          }
          @include mobile{
              // margin: 184px 20px 25px;
          }
      }
      .modal-video-container{
          max-width: 912px;
          // width:912px;
          display: flex;
          flex-direction: column;
          margin: auto;
          @include navigationBar{
              max-width: 608px;
          }
          .small-video{
              width: 100%;
          }
      }
      img{
          opacity: 1;
      }
      h4{
          color: $white;
          text-align: center;
          margin: auto;
          padding-top: 25px;
          font-size: 36px;
          @include mobile{
              font-size: 24px;
          }
      }
      .cross-container{
          align-self: flex-end;
          margin-right: -5%;
          margin-bottom: 1%;
          display: inline-block;
          @include mobile{
              margin-right: 0px;
          }
          a{
              font-size: 46px;
              font-weight:100;
              width: 24px;
              display: inline-block;
  
              &:hover{
                  cursor: pointer;
                  color: $yellow;
              }
          }
      }
  }//MODAL
  
  
  //Oembeeed responive
  .youtube-container {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      height: 0;
    //   width: 80%;
    }
    
    // .youtube-container::after {
    //     padding-top: 56.25%;
    //     display: block;
    //     content: '';
    // }
    
    .youtube-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
  /* 99-storie block   */
   /* Sparkle Team Block */
   .team-container{ //team-container
      text-align: center;
          .title-container{
              margin:0px auto 60px;
              @include tablet{
              margin:0px auto 90px; 
              }
              @include mobile{
                  margin: 0px auto 80px
              }
          }
          h4{
              margin: 150px auto 30px;
              @include mobile{
                  margin: 120px auto 30px ;
              }
          }
          .regularText{
              max-width: 606px;
              font-size: 18px;
              margin: auto;
              @include mobile{
                  font-size: 14px;
                  line-height: 17px
              }
          }
  
  
          .team{
              // margin: 0px 167px 201px 168px;
              display: flex;
              margin-bottom: 201px;
  
              .team-member:not(:last-child){
                  margin-right: 60px;
              }
              .team-member:nth-last-child(2) {
                  margin-right: 0px;
              }
              .team-member{
                  max-width: 289px;
                  width: 100%;
                  height:365px;
                  z-index: 1;
                  display: flex;
                  background-position: center;
                  background-size: 100%;
                  background-repeat: no-repeat;
                  transition: all .5s;
                  &:hover{
                      background-position: top;
                      background-size: 108%;
                  }
                  section{
                      align-self: flex-end;
                      padding-bottom: 20px;
                      color: white;
                      width: 100%;
                      margin: 0px auto;
                      transition: .5s;
                  }
                  .section-3{
                      max-width: 271px;
                  }
                  .member-name{
                      font-size: 24px;
                      line-height: 35px;
                      margin-bottom: -3px;
                      transition: .5s;
                  }
                  .regularText{
                      font-size: 18px;
                      line-height: 22px;
                      color: $white;
                  }
              }
                .team-member:hover section{
                  margin-bottom: 3px;
                }
                .team-member:hover .member-name{
                  margin-bottom: 2px;
                }
          }
      }//team-container
      @include navigationBar{ //team-container max-1100px
          .team-container{
              .team{
                  flex-direction: column;
                  margin-bottom: 130px;
                  .team-member:not(:last-child){
                      margin-right: 0px;
                  }
                  .team-member:nth-last-child(2) {
                      margin-right: 0px;
                  }
                  .team-member{
                      margin: 0px 0px 25px 0px;
                      max-width: 352px;
                      height: 445px;
                  }
                  .section-3{
                      max-width: 100%;
                  }
                  .team-member.tm2{
                      margin: 0px 0px 25px 0px;
                  }
              }
      
          }
      }//team-container max-1100px
      
      @include mobile{ //team-container MOBILE
          .team-container{
              .team{
                  flex-direction: column;
                  margin-bottom: 120px;
                  .team-member{
                      max-width: 280px;
                      height: 354px;
                      background-size: cover;
                      &:hover{
                          background-position: top;
                          background-size: cover;
                      }
                  }
              }
              .section-3{
                  max-width: 263px;
              }
              .member-name{
                  font-size: 18px;
                  line-height: 26px;
              }
              .regularText{
                  font-size: 14px;
              }
              .team-member.tm2{
                  margin: 0px 0px 25px 0px;
              }
          }
      } //team-container MOBILE
          
   /* Sparkle Team Block */
  
  
  
  
  //buttons
  .simple-btn {
    // background-color: $orange;
    // border: solid 2px $orange;
    border-radius: 23px;
    // color: $white;
    width: 233px;
  //   height: 50px;
    padding:12px 0px;
    font-size: 18px;
    font-family: montRegularFont;
    transition: all 0.4s cubic-bezier(0, 0.93, 1, 1.67);
    &:hover {
      cursor: pointer;
      text-decoration: none;
    }
  }//button
  #formBtn{
    max-width: 182px;
    height: 62px;
    border-radius: 50px;
    font-size: 24px;
  }
  @include mobile {
    #formBtn{
        max-width:140px;
        height:48px;
        font-size: 18px;
    }
  }
  #scrollBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99999999;
    font-size: 32px;
    border: none;
    outline: none;
    background-color: #ffa800;
    color: white;
    cursor: pointer;
    padding: 17px;
    border-radius: 50%;
    @include mobile{
        right: 12px;
        padding: 15px;
        font-size: 14px;
    }
} //AnchroLink

  //buttons