@font-face {
  font-family: headerFont;
  src: url(../fonts/Oswald-Medium.woff);
}

@font-face {
  font-family: montMediumFont;
  src: url(../fonts/Montserrat-Medium.woff);
}

@font-face {
  font-family: montRegularFont;
  src: url(../fonts/Montserrat-Regular.woff);
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none !important;
}

*:hover, *:focus, *:active {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

.container-fluid {
  padding: 0px;
}

img {
  height: auto;
}

.editor-styles-wrapper h1 {
  font-size: auto;
}

.relative {
  position: relative;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.flex-fill {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-container {
  padding: 30px 63px 20px 62px;
}

.nav-container {
  padding: 0px 13px 0px 62px;
  height: 92px;
}

@media screen and (max-width: 920px) {
  .footer-container {
    padding: 0px 80px;
  }
  .nav-container {
    padding: 0px 80px;
    height: 74px;
  }
}

@media screen and (max-width: 700px) {
  .footer-container {
    padding: 19px 20px;
    margin-top: -28px;
  }
  .mobile-container {
    padding: 0px 20px !important;
  }
  .nav-container {
    padding: 0px 20px;
    height: 51px;
  }
}

/* Page */
/* In order for this to work, DOM should be as follows:
  <html>
  	<head></head>
    <body>
      <div class="site-wrap">
        <header class="site-header"></header>
        <main class="site-content"></main>
        <footer class="site-footer"></footer>
      </div>
    </body>
  </html>
*/
html,
body {
  -webkit-font-kerning: auto;
          font-kerning: auto;
  overflow-x: hidden;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  color: #212529;
}

.site-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  min-height: 100vh;
  width: 100%;
  z-index: 1;
}

.site-content {
  -webkit-box-flex: 1 !important;
      -ms-flex: 1 1 auto !important;
          flex: 1 1 auto !important;
}

.no-scroll {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}

/* Print styles */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

p {
  margin: 0px;
}

h1, h2, h3, h4, h5 {
  font-family: headerFont;
  margin-bottom: 0px;
}

h1 {
  font-size: 48px !important;
  color: #2f4858;
  margin: 112px 0px 60px;
}

@media screen and (max-width: 920px) {
  h1 {
    margin: 102px 0px 60px;
  }
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 36px !important;
    line-height: 53px;
    margin: 65px 0px 30px;
  }
}

h2 {
  font-size: 30px;
  line-height: 35px;
}

@media screen and (max-width: 700px) {
  .title-mobile {
    font-size: 18px;
    line-height: 27px;
  }
}

h3 {
  font-size: 24px;
  line-height: 36px;
}

h4 {
  font-size: 30px;
  line-height: 44px;
}

@media screen and (max-width: 700px) {
  h4 {
    font-size: 24px;
    line-height: 44px;
  }
}

.mediumText {
  font-size: 24px;
  font-family: montMediumFont;
  font-weight: 500;
}

.regularText, a {
  font-size: 18px;
  font-family: montRegularFont;
  line-height: 22px;
  color: #2f4858;
}

@media screen and (max-width: 700px) {
  .regularText-mobile {
    font-size: 12px;
    line-height: 15px;
  }
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-container a {
  z-index: 5;
}

.nav-container .nav-img {
  max-width: 159px;
  margin: 0px 84px 0px 0px;
}

.nav-container .vector {
  position: absolute;
  bottom: -20px;
  width: 100%;
  z-index: 1;
  left: 0;
}

.nav-container .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.nav-container .nav-items .languages .ru, .nav-container .nav-items .languages .en, .nav-container .nav-items .languages .lv {
  display: none;
}

.nav-container .nav-items a {
  font-weight: 500;
  color: #060606;
  border-bottom: 3px solid transparent;
}

.nav-container .nav-items a:hover {
  border-bottom: 3px solid #ffa800;
  text-decoration: none;
  font-weight: bold;
}

.nav-container .nav-items a .hamburger {
  height: 20px;
  width: 24.8px;
  background-image: url(/wp-content/uploads/2020/10/mobNav-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: .3s;
  transition: .3s;
}

.nav-container .nav-items a .cross {
  height: 20px;
  width: 20px;
  background-image: url(/wp-content/uploads/2020/10/cross.png);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: .3s;
  transition: .3s;
}

.nav-container .nav-items .icon {
  border-bottom: solid 1px transparent;
  display: none;
  position: absolute;
  right: 50px;
}

.nav-container .nav-items .icon:active,
.nav-container .nav-items .icon:hover {
  border-bottom: solid 1px transparent;
}

@media screen and (max-width: 1100px) {
  .nav-container .nav-items {
    position: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .nav-container .nav-items a:not(:last-child) {
    display: none;
  }
  .nav-container .nav-items .icon {
    display: block;
  }
  .nav-container .nav-items.responsive {
    position: absolute;
    background-color: #fff;
    height: 100vh;
    left: 0;
    z-index: 1000;
    padding-top: 70px;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .nav-container .nav-items.responsive .icon {
    top: 35px;
  }
  .nav-container .nav-items.responsive .languages {
    width: 25%;
    display: block;
  }
  .nav-container .nav-items.responsive .languages .lv {
    border-bottom: solid 3px #ffa800;
    font-weight: bold;
  }
  .nav-container .nav-items.responsive .languages .ru, .nav-container .nav-items.responsive .languages .lv, .nav-container .nav-items.responsive .languages .en {
    display: block;
  }
  .nav-container .nav-items.responsive a {
    float: none;
    display: block;
    text-align: center;
    font-size: 24px;
  }
  .nav-container .nav-items.responsive #lv {
    display: none;
  }
}

@media screen and (max-width: 920px) {
  .nav-container .nav-img {
    max-width: 128px;
  }
  .nav-container .vector {
    bottom: -7px;
    height: 10px;
  }
}

@media screen and (max-width: 700px) {
  .nav-container .nav-items.responsive .languages {
    width: 35%;
  }
  .nav-container .nav-img {
    max-width: 76px;
  }
  .nav-container .nav-items.responsive {
    padding-top: 25px;
  }
  .nav-container .nav-items.responsive a {
    font-size: 18px;
  }
  .nav-container .nav-items.responsive .icon {
    top: 14px;
  }
}

.footer {
  background-color: #2f4858;
  position: relative;
}

.footer .regularText {
  color: #fff;
}

.footer .vector-top {
  top: -22px;
  left: 0px;
  width: 100%;
  position: absolute;
}

@media screen and (max-width: 920px) {
  .footer .vector-top {
    top: -17px;
  }
}

.footer span {
  margin-bottom: 10px;
}

.footer .desktop-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 324px;
}

.footer .desktop-footer .col1 {
  width: 25%;
}

.footer .desktop-footer .col1 img, .footer .desktop-footer .col1 p {
  max-width: 182px;
}

.footer .desktop-footer .col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
}

.footer .desktop-footer .col2 li {
  list-style: none;
  padding-bottom: 20px;
}

.footer .desktop-footer .col3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 27%;
}

.footer .desktop-footer .col4 {
  width: 28%;
}

@media screen and (max-width: 1100px) {
  .footer .desktop-footer .col4 {
    width: auto;
  }
}

.footer .desktop-footer .col4 .facebook {
  max-width: 18px;
}

.footer .desktop-footer .col4 .instagram {
  max-width: 36px;
  margin-left: 30px;
}

.footer .desktop-footer p {
  line-height: 17px;
  font-size: 14px;
}

.footer .desktop-footer h4 {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 16px;
}

.footer .desktop-footer a {
  color: #fff;
  font-size: 18px;
  line-height: 22px;
}

.footer .desktop-footer a:hover {
  color: #ffcb66;
}

.footer .mobile-footer {
  display: none;
}

.footer .mobile-footer .regularText.mob {
  display: none;
  font-size: 18px;
  padding: 25px 0px 30px 0px;
  font-family: montMediumFont;
}

@media screen and (max-width: 920px) {
  .footer .desktop-footer {
    display: none !important;
  }
  .footer .mobile-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 364px;
  }
  .footer .mobile-footer .row1 img {
    max-width: 162px;
  }
  .footer .mobile-footer .row1 > div {
    text-align: right;
  }
  .footer .mobile-footer span {
    font-size: 18px;
  }
  .footer .mobile-footer p {
    font-size: 16px;
  }
  .footer .mobile-footer h3 {
    font-size: 24px;
  }
  .footer .instagram {
    max-width: 25px;
  }
  .footer .facebook {
    max-width: 12.5px;
    margin-right: 34px;
  }
}

@media screen and (max-width: 700px) {
  .footer {
    background-image: url(/wp-content/uploads/2020/10/mobile-footer-2.png);
    background-size: cover;
    background-color: #0000;
  }
  .footer .vector-top {
    display: none;
  }
  .footer .mobile-footer {
    height: 483px;
  }
  .footer .mobile-footer .row1 img {
    max-width: 100px;
  }
  .footer .mobile-footer .row1 > div {
    text-align: left;
  }
  .footer .mobile-footer .regularText.tabl {
    display: none;
  }
  .footer .mobile-footer .regularText.mob {
    display: block;
  }
  .footer .mobile-footer span {
    font-size: 12px;
  }
  .footer .mobile-footer span b {
    font-size: 14px;
  }
  .footer .row1, .footer .row2, .footer .row3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .footer .row1 p, .footer .row2 p, .footer .row3 p {
    font-size: 11px;
    margin-bottom: 0px;
  }
}

.bg-gradient {
  background: #149bb3;
  background: radial-gradient(circle, #149bb3 0%, #008a9c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#149bb3",endColorstr="#008a9c",GradientType=1);
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
}

@font-face {
  font-family: headerFont;
  src: url(../fonts/Oswald-Medium.woff);
}

@font-face {
  font-family: montMediumFont;
  src: url(../fonts/Montserrat-Medium.woff);
}

@font-face {
  font-family: montRegularFont;
  src: url(../fonts/Montserrat-Regular.woff);
}

.big-video {
  width: 100%;
  height: 100vh;
}

@media screen and (max-width: 920px) {
  .big-video {
    height: auto;
  }
}

.svg-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.mobCircle {
  display: none;
}

.triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 18px solid transparent;
  border-left: 31px solid #fff;
  border-bottom: 18px solid transparent;
  border-radius: 2px;
  top: 50%;
  left: 50.3%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 700px) {
  .circle {
    display: none;
  }
  .mobCircle {
    display: block;
  }
  .triangle {
    border-top: 10px solid transparent;
    border-left: 22px solid #fff;
    border-bottom: 10px solid transparent;
    left: 50.6%;
  }
}

.textBox {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: auto;
  height: 414px;
  max-width: 654px;
  width: 100%;
  color: #2f4858;
}

@media screen and (max-width: 920px) {
  .textBox {
    height: 440px;
  }
}

@media screen and (max-width: 700px) {
  .textBox {
    height: 284px;
  }
  .textBox .regularText {
    font-size: 12px;
  }
}

.gallery-container-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.gallery-container-1 .vector-top {
  position: absolute;
  top: -16px;
  width: 100%;
  z-index: 1;
}

.gallery-container-1 .vector-bot {
  position: absolute;
  bottom: -13px;
  width: 100%;
  z-index: 1;
}

.gallery-container-1 img {
  width: 50%;
}

.gallery-container-1 .img5 {
  width: 55%;
}

.gallery-container-1 .flex-column-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
}

.gallery-container-1 .flex-column-container img {
  width: 100%;
}

@media screen and (max-width: 920px) {
  .textBox {
    height: 440px;
  }
  .gallery-container-1 .vector-bot {
    bottom: -2px;
  }
  .gallery-container-1 .vector-top {
    top: -9px;
  }
}

@media screen and (max-width: 700px) {
  .textBox {
    height: 284px;
  }
  .textBox .regularText {
    font-size: 12px;
  }
  .gallery-container-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .gallery-container-1 .vector-top {
    display: none;
  }
  .gallery-container-1 .vector-bot {
    display: none;
  }
}

.vector-top-mobile {
  display: none;
}

@media screen and (max-width: 700px) {
  .vector-top-mobile {
    display: block;
    position: absolute;
    z-index: 1;
    top: 0px;
    width: 100% !important;
  }
}

.vector-bot-mobile {
  display: none;
}

@media screen and (max-width: 700px) {
  .vector-bot-mobile {
    display: block;
    z-index: 1;
    position: absolute;
    bottom: 0px;
    width: 100% !important;
  }
}

.button-container {
  margin: 75px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media screen and (max-width: 920px) {
  .button-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media screen and (max-width: 700px) {
  .button-container {
    margin: 120px 0px 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.button-container .button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 129px;
  margin: 75px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 920px) {
  .button-container .button-box {
    height: 149px;
  }
}

@media screen and (max-width: 700px) {
  .button-container .button-box {
    margin: 0px 0px 80px 0px;
  }
}

.button-container h2 {
  font-weight: 100;
}

@media screen and (max-width: 920px) {
  .button-container h2 {
    font-size: 18px;
    line-height: 26px;
  }
}

.button-container .title {
  margin-bottom: auto;
}

@media screen and (max-width: 920px) {
  .button-container .title {
    max-width: 233px;
  }
}

@media screen and (max-width: 700px) {
  .button-container .title {
    max-width: 280px;
    margin-bottom: 30px;
  }
}

.formContainer h4 {
  margin-bottom: 40px;
  text-align: center;
}

.formContainer .formStart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  margin: 0px 0px 150px;
}

@media screen and (max-width: 920px) {
  .formContainer .formStart {
    margin: 0px 0px 82px;
  }
}

@media screen and (max-width: 700px) {
  .formContainer .formStart {
    margin: 0px 0px 140px;
  }
}

.formContainer .formStart form {
  width: 612px;
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}

.formContainer .formStart form div:first-child input:not(:last-child) {
  margin-right: .5rem;
}

.formContainer .formStart form .textInput {
  border-radius: 6px;
  width: 100%;
  padding: 7px 5px 3px 10px;
  border: solid 1px #e7e7e7;
  margin: 7px 0px;
  font-family: montRegularFont;
  resize: none;
}

.formContainer .formStart form .textInput::-webkit-input-placeholder {
  font-family: montRegularFont;
}

.formContainer .formStart form .textInput:-ms-input-placeholder {
  font-family: montRegularFont;
}

.formContainer .formStart form .textInput::-ms-input-placeholder {
  font-family: montRegularFont;
}

.formContainer .formStart form .textInput::placeholder {
  font-family: montRegularFont;
}

.formContainer .formStart form p {
  color: #2f4858;
  line-height: 17px;
  font-size: 14px;
}

.formContainer .formStart form .checkbox-container {
  margin-right: 13px;
  margin-top: 1px;
  width: 34px;
}

.formContainer .formStart form input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: 1;
  height: 15px;
  width: 15px;
}

.formContainer .formStart form .checkmark {
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: #e7e7e7;
  border: solid 1px #e7e7e7;
  border-radius: 3px;
}

.formContainer .formStart form .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.formContainer .formStart form input:checked ~ .checkmark:after {
  display: block;
}

.formContainer .formStart form .checkmark:after {
  left: 5px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.formContainer .formStart form .acceptTerms {
  padding-top: 25px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.formContainer .formStart form span {
  font-size: 14px;
  font-family: montRegularFont;
  line-height: 17px;
}

@media screen and (max-width: 920px) {
  .formContainer .formStart form .acceptTerms {
    padding-top: 10px;
  }
}

@media screen and (max-width: 700px) {
  .formContainer .formStart form {
    width: 100%;
  }
}

.formContainer #thank-you {
  height: 137px;
  color: #ffa800;
  display: none;
  margin-top: 47px;
}

.formContainer #thank-you span {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #ffa800;
}

.formContainer #thank-you p {
  color: #ffa800;
  margin-top: 30px;
}

@media screen and (max-width: 700px) {
  .formContainer #thank-you {
    margin-top: 37px;
  }
  .formContainer #thank-you span {
    font-size: 18px;
    line-height: 22px;
  }
  .formContainer #thank-you p {
    font-size: 14px;
    line-height: 19px;
  }
}

.sponsorContainer {
  padding-bottom: 115px;
}

@media screen and (max-width: 920px) {
  .sponsorContainer {
    padding-bottom: 110px;
  }
}

@media screen and (max-width: 700px) {
  .sponsorContainer {
    padding: 0px 20px 55px;
    margin-bottom: -55px;
  }
}

.sponsorContainer .vector-top {
  position: absolute;
  width: 100%;
  top: -22px;
  left: 0;
}

.sponsorContainer h3 {
  padding: 80px 0px 65px;
  color: #2f4858;
}

@media screen and (max-width: 920px) {
  .sponsorContainer h3 {
    padding: 70px 0px;
  }
}

@media screen and (max-width: 700px) {
  .sponsorContainer h3 {
    padding: 60px 0px 40px;
  }
}

.sponsorContainer .imgRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sponsorContainer .imgRow img {
  max-height: 120px;
}

@media screen and (max-width: 920px) {
  .sponsorContainer .vector-top {
    top: -15px;
  }
  .sponsorContainer .vector-bot {
    bottom: -7px;
  }
  .sponsorContainer .imgRow {
    padding-bottom: 50px;
  }
  .sponsorContainer .imgRow img {
    max-height: 80px;
  }
  .sponsorContainer .imgRow > div {
    max-width: 144px;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media screen and (max-width: 700px) {
  .sponsorContainer .imgRow {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 42px;
  }
  .sponsorContainer .imgRow > div {
    max-width: 130px;
  }
  .sponsorContainer .imgRow img {
    max-height: 70px;
  }
  .sponsorContainer .vector-top {
    top: -12px;
    height: 15px;
  }
}

.ideja-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.ideja-container .regularText {
  margin-bottom: 150px;
}

@media screen and (max-width: 700px) {
  .ideja-container .regularText {
    margin-bottom: 80px;
    font-size: 12px;
    line-height: 15px;
  }
}

.big-picture-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 705px;
}

@media screen and (max-width: 920px) {
  .big-picture-container {
    height: 430px;
  }
}

@media screen and (max-width: 700px) {
  .big-picture-container {
    height: 476px;
  }
}

.big-picture-container .big-picture {
  z-index: -1;
}

.big-picture-container .linear-bg {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(18.63%, rgba(47, 72, 88, 0.8)), color-stop(49.21%, rgba(47, 72, 88, 0)));
  background: linear-gradient(0deg, rgba(47, 72, 88, 0.8) 18.63%, rgba(47, 72, 88, 0) 49.21%);
  height: 705px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 920px) {
  .big-picture-container .linear-bg {
    height: 430px;
  }
}

@media screen and (max-width: 700px) {
  .big-picture-container .linear-bg {
    height: 476px;
  }
}

.big-picture-container .text-container {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 5%;
  margin: auto auto 0px auto;
  color: #fff;
}

.big-picture-container .text-container h3 {
  margin: 0px 5px;
  max-width: 818px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (max-width: 920px) {
  .big-picture-container .text-container h3 {
    max-width: 595px;
  }
}

@media screen and (max-width: 700px) {
  .big-picture-container .text-container h3 {
    max-width: 280px;
    font-size: 18px;
    max-width: 818px;
    line-height: 27px;
  }
}

.big-picture-container .vector-top {
  width: 100%;
  top: -1px;
  position: absolute;
}

.big-picture-container .vector-bot {
  width: 100%;
  bottom: -1px;
  position: absolute;
  left: 0px;
}

.slider-container {
  margin: auto;
  padding: 150px 0px 165px;
}

.slider-container .carousel {
  overflow: hidden;
  margin: 0 auto;
  width: 80%;
}

.slider-container .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: .5s;
  transition: .5s;
}

.slider-container .slider .slide {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-container .slider .slide .slide-box {
  max-width: 608px;
}

.slider-container .comment {
  max-width: 602px;
  padding: 30px 0px;
}

.slider-container .comment p {
  font-style: italic;
  font-size: 24px;
  line-height: 29px;
}

@media screen and (max-width: 700px) {
  .slider-container .comment p {
    font-size: 12px;
    line-height: 15px;
  }
}

.slider-container .controls .arrow-container {
  width: 602px;
  margin: auto;
}

.slider-container .controls .arrow-container > div {
  margin-right: 40px;
}

@media screen and (max-width: 700px) {
  .slider-container .controls .arrow-container {
    width: 307px;
  }
}

.slider-container .controls .left:hover, .slider-container .controls .right:hover {
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .slider-container {
    margin: 130px 0px 125px;
  }
  .slider-container .carousel {
    width: 100%;
  }
  .slider-container h3 {
    font-size: 18px;
    line-height: 27px;
  }
  .slider-container .comment {
    max-width: 279px;
    padding: 20px 0px 30px 0px;
  }
  .slider-container .regularText {
    font-size: 14px;
    line-height: 17px;
  }
}

.apply-dream-container {
  margin-bottom: 90px;
}

@media screen and (max-width: 700px) {
  .apply-dream-container {
    margin-bottom: 80px;
  }
}

.apply-dream-container .regularText {
  font-size: 24px;
  line-height: 29px;
}

@media screen and (max-width: 920px) {
  .apply-dream-container .regularText {
    max-width: 608px;
  }
}

@media screen and (max-width: 700px) {
  .apply-dream-container .regularText {
    font-size: 14px;
    line-height: 17px;
    max-width: 280px;
  }
}

.what-dream-container {
  margin-bottom: 150px;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

@media screen and (max-width: 920px) {
  .what-dream-container {
    margin-bottom: 90px;
  }
}

.dream-box {
  max-width: 394px;
  min-width: 300px;
  height: 594px;
  padding: 5px;
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media screen and (max-width: 920px) {
  .dream-box {
    max-width: 608px;
    height: auto;
    margin-bottom: 60px;
  }
}

.dream-box .img-box {
  max-width: 166px;
  height: 198px;
}

@media screen and (max-width: 700px) {
  .dream-box .img-box {
    width: 160px;
    height: 185px;
  }
}

@media screen and (max-width: 700px) {
  .dream-box .balloon-img {
    position: absolute;
    top: 0px;
    left: 20px;
  }
}

.dream-box h2 {
  margin: 60px 0px 30px 0px;
}

@media screen and (max-width: 700px) {
  .dream-box h2 {
    margin: 30px 0px 10px;
  }
}

.dream-box button {
  margin-top: auto;
}

@media screen and (max-width: 920px) {
  .dream-box button {
    margin-top: 50px;
  }
}

.gallery-container-2 {
  margin-bottom: 150px;
}

.gallery-container-2 img {
  width: 100%;
}

@media screen and (max-width: 700px) {
  .gallery-container-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 120px;
  }
}

.gallery-container-2 .vector-top {
  position: absolute;
  top: -5px;
  z-index: 1;
}

@media screen and (max-width: 700px) {
  .gallery-container-2 .vector-top {
    display: none;
  }
}

.gallery-container-2 .vector-bot {
  position: absolute;
  bottom: -5px;
  z-index: 1;
  left: 0px;
}

@media screen and (max-width: 700px) {
  .gallery-container-2 .vector-bot {
    display: none;
  }
}

.gallery-container-2 .img6 {
  width: 49%;
}

.gallery-container-2 .img7 {
  width: 46%;
}

.gallery-container-2 .img9 {
  width: 38%;
}

.gallery-container-2 .img10 {
  width: 62%;
}

.purpose-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.purpose-container h4 {
  margin-top: 150px;
  margin-bottom: 90px;
}

.purpose-container .img-box {
  max-width: 150px;
}

.purpose-container .text-box {
  max-width: 500px;
}

@media screen and (max-width: 920px) {
  .purpose-container .text-box {
    max-width: 353px;
  }
}

.purpose-container .rows {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.purpose-container .purpose-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.purpose-container .purpose-row:nth-child(odd) {
  margin: 0px 0px 101px 8%;
}

@media screen and (max-width: 920px) {
  .purpose-container .purpose-row:nth-child(odd) {
    margin: 0px 0px 92px 7%;
  }
}

.purpose-container .purpose-row:nth-child(odd) .img-box {
  margin-right: 62px;
}

.purpose-container .purpose-row:nth-child(odd) .text-box {
  text-align: left;
}

.purpose-container .purpose-row:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-right: 24%;
  margin-bottom: 112px;
}

@media screen and (max-width: 920px) {
  .purpose-container .purpose-row:nth-child(even) {
    margin-right: 5%;
    margin-bottom: 91px;
  }
}

.purpose-container .purpose-row:nth-child(even) .img-box {
  margin-left: 67px;
}

.purpose-container .purpose-row:nth-child(even) .text-box {
  text-align: right;
}

.purpose-container .purpose-row:last-child {
  margin-bottom: 150px;
}

@media screen and (max-width: 700px) {
  .purpose-container h4 {
    font-size: 24px;
    line-height: 36px;
    margin-top: 120px;
    margin-bottom: 0px;
  }
  .purpose-container .img-box {
    max-width: 118px;
  }
  .purpose-container .regularText {
    font-size: 12px;
    line-height: 15px;
    text-align: center;
  }
  .purpose-container .rows {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .purpose-container .purpose-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .purpose-container .purpose-row:nth-child(odd) {
    margin: 60px 0px;
  }
  .purpose-container .purpose-row:nth-child(odd) .img-box {
    margin: 20px 0px;
  }
  .purpose-container .purpose-row:nth-child(even) .img-box {
    margin: 20px 0px;
  }
  .purpose-container .purpose-row:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px;
  }
  .purpose-container .purpose-row:last-child {
    margin-bottom: 120px;
  }
}

.mission-container h4 {
  font-size: 40px;
  margin-bottom: 50px;
}

@media screen and (max-width: 920px) {
  .mission-container h4 {
    margin-bottom: 38px;
  }
}

@media screen and (max-width: 700px) {
  .mission-container h4 {
    margin-bottom: 25px;
    font-size: 24px;
  }
}

.mission-container .regularText {
  font-weight: 500;
  margin-bottom: 150px;
  font-size: 24px;
  line-height: 30px;
}

@media screen and (max-width: 700px) {
  .mission-container .regularText {
    margin-bottom: 120px;
    font-size: 18px;
    line-height: 22px;
  }
}

.yellow-container {
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: auto;
}

@media screen and (max-width: 920px) {
  .yellow-container {
    background-size: cover;
  }
}

.yellow-container .img-box {
  margin-top: 75px;
}

.yellow-container .img-box.ib2 {
  max-width: 401px;
}

.yellow-container .regularText {
  margin: 40px 0px 89px;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
}

@media screen and (max-width: 920px) {
  .yellow-container .regularText {
    max-width: 608px !important;
  }
}

.yellow-container .regularText.t2 {
  max-width: 1030px;
}

@media screen and (max-width: 700px) {
  .yellow-container {
    background-size: cover;
  }
  .yellow-container .regularText {
    max-width: 280px !important;
    font-size: 18px;
  }
  .yellow-container .img-box {
    width: 262px;
  }
}

.dream-judge-container {
  text-align: center;
  padding: 150px 0px;
}

.dream-judge-container .sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.dream-judge-container .sections section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-height: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.dream-judge-container .text-box {
  max-width: 290px;
  margin-top: 30px;
  height: 100px;
}

.dream-judge-container .regularText {
  font-size: 24px;
  line-height: 30px;
}

.dream-judge-container .icon-box {
  margin: 60px auto 0px;
}

@media screen and (max-width: 920px) {
  .dream-judge-container .text-box {
    max-width: 255px;
  }
  .dream-judge-container .regularText {
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (max-width: 700px) {
  .dream-judge-container {
    padding: 120px 20px;
  }
}

.select-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.select-container .regularText.yellow {
  letter-spacing: -0.015em;
  margin-bottom: 15px;
  color: #ffa800;
  font-weight: 500px;
}

.select-container .select-box {
  max-width: 288px;
  height: 43px;
  width: 100%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 30px 60px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.companies {
  max-width: 823px;
  margin: auto;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 700px) {
  .companies {
    display: none !important;
  }
}

.companies .img-container {
  max-width: 120px;
  margin-right: 91px;
}

.companies p {
  font-size: 24px;
}

.companies span {
  width: 288px;
  margin-left: auto;
  font-size: 18px;
  line-height: 22px;
}

.companies .company-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 33px;
}

@media screen and (max-width: 920px) {
  .companies {
    max-width: 608px;
  }
  .companies .company-row {
    margin-bottom: 35px;
  }
  .companies .img-container {
    max-width: 98px;
    margin-right: 30px;
  }
  .companies span {
    max-width: 135px;
  }
}

.display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#map {
  height: 648px;
  margin-top: 27px;
}

@media screen and (max-width: 920px) {
  #map {
    margin-top: 35px;
  }
}

@media screen and (max-width: 700px) {
  #map {
    margin-top: 40px;
    margin-bottom: -52px;
  }
}

.custom-select {
  width: 100%;
  height: 43px;
  padding: 12px 60px 9px 15px;
  border: 1px solid rgba(196, 196, 196, 0.4);
  border-radius: 6px;
  font-family: montRegularFont;
  color: #2f4858;
  font-size: 18px;
  line-height: 22px;
  background-color: rgba(196, 196, 196, 0.4);
}

.custom-select:focus {
  border-color: rgba(196, 196, 196, 0.4);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.custom-select option {
  border: 1px solid rgba(196, 196, 196, 0.4);
  border-radius: 6px;
}

@media screen and (max-width: 920px) {
  .select-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .select-container .regularText.yellow {
    letter-spacing: -0.015em;
    margin-bottom: 15px;
  }
  .select-container .select-box {
    max-width: 288px;
    width: 100%;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px 30px 70px 0px;
  }
}

@media screen and (max-width: 920px) and (max-width: 700px) {
  .select-container .select-box {
    margin: 0px 0px 50px 0px;
  }
}

/* 99-storie block     */
.margin-box {
  margin: 0px 80px 152px;
  text-align: center;
}

.margin-box .simple-btn {
  background-color: #ffa800;
  border: solid 2px #ffa800;
  border-radius: 23px;
  color: #fff;
  margin-top: 50px;
  display: none;
}

.margin-box .simple-btn:hover {
  background-color: #fff;
  color: #ffa800;
}

@media screen and (max-width: 920px) {
  .margin-box .simple-btn {
    display: inline-block;
  }
}

@media screen and (max-width: 920px) {
  .margin-box {
    margin: 0px 80px 150px;
  }
}

@media screen and (max-width: 700px) {
  .margin-box {
    margin: 0px 0px 120px;
  }
}

.stories-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (160px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 160px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 14px;
  -webkit-column-gap: 14px;
          column-gap: 14px;
  max-width: 1030px;
  margin: auto;
}

.stories-container .story-box, .stories-container .no-story {
  background: url("/wp-content/uploads/2020/10/golden_bg.jpg");
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.stories-container .story-box:hover, .stories-container .no-story:hover {
  cursor: pointer;
}

.stories-container .story-box:hover img, .stories-container .no-story:hover img {
  opacity: 0;
}

.stories-container .story-box:hover .author, .stories-container .no-story:hover .author {
  display: block;
}

.stories-container .story-box .author, .stories-container .story-box .new-author, .stories-container .no-story .author, .stories-container .no-story .new-author {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  color: #fff;
  font-family: headerfont;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.stories-container .story-box .new-author, .stories-container .no-story .new-author {
  display: block;
  font-size: 18px;
  line-height: 27px;
  width: 100%;
}

@media screen and (max-width: 700px) {
  .stories-container .story-box .new-author, .stories-container .no-story .new-author {
    font-size: 14px;
    line-height: 21px;
  }
}

.stories-container .no-story {
  height: 160px;
}

.stories-container .no-story:hover {
  cursor: default;
}

.stories-container img {
  opacity: 0.35;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.stories-container .number-text {
  font-size: 44px;
  position: absolute;
  bottom: -13px;
  right: 14px;
  font-weight: 500;
  color: #fff;
}

.stories-container .display-none-tablet {
  display: block;
}

@media screen and (max-width: 920px) {
  .stories-container {
    -ms-grid-columns: (137px)[auto-fit];
        grid-template-columns: repeat(auto-fit, 137px);
    row-gap: 16px;
  }
  .stories-container .no-story {
    height: 137px;
  }
  .stories-container .display-none-tablet {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .stories-container {
    -ms-grid-columns: (124px)[auto-fit];
        grid-template-columns: repeat(auto-fit, 124px);
    row-gap: 12px;
  }
  .stories-container .no-story {
    height: 124px;
  }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  z-index: 11;
  color: #fff;
  background-color: #2f4858;
  background-color: rgba(47, 72, 88, 0.9);
}

.modal .modal-container {
  width: 100%;
}

.modal .modal-video-container {
  max-width: 912px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

@media screen and (max-width: 1100px) {
  .modal .modal-video-container {
    max-width: 608px;
  }
}

.modal .modal-video-container .small-video {
  width: 100%;
}

.modal img {
  opacity: 1;
}

.modal h4 {
  color: #fff;
  text-align: center;
  margin: auto;
  padding-top: 25px;
  font-size: 36px;
}

@media screen and (max-width: 700px) {
  .modal h4 {
    font-size: 24px;
  }
}

.modal .cross-container {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: -5%;
  margin-bottom: 1%;
  display: inline-block;
}

@media screen and (max-width: 700px) {
  .modal .cross-container {
    margin-right: 0px;
  }
}

.modal .cross-container a {
  font-size: 46px;
  font-weight: 100;
  width: 24px;
  display: inline-block;
}

.modal .cross-container a:hover {
  cursor: pointer;
  color: #ffcb66;
}

.youtube-container {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
}

.youtube-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* 99-storie block   */
/* Sparkle Team Block */
.team-container {
  text-align: center;
}

.team-container .title-container {
  margin: 0px auto 60px;
}

@media screen and (max-width: 920px) {
  .team-container .title-container {
    margin: 0px auto 90px;
  }
}

@media screen and (max-width: 700px) {
  .team-container .title-container {
    margin: 0px auto 80px;
  }
}

.team-container h4 {
  margin: 150px auto 30px;
}

@media screen and (max-width: 700px) {
  .team-container h4 {
    margin: 120px auto 30px;
  }
}

.team-container .regularText {
  max-width: 606px;
  font-size: 18px;
  margin: auto;
}

@media screen and (max-width: 700px) {
  .team-container .regularText {
    font-size: 14px;
    line-height: 17px;
  }
}

.team-container .team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 201px;
}

.team-container .team .team-member:not(:last-child) {
  margin-right: 60px;
}

.team-container .team .team-member:nth-last-child(2) {
  margin-right: 0px;
}

.team-container .team .team-member {
  max-width: 289px;
  width: 100%;
  height: 365px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.team-container .team .team-member:hover {
  background-position: top;
  background-size: 108%;
}

.team-container .team .team-member section {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-bottom: 20px;
  color: white;
  width: 100%;
  margin: 0px auto;
  -webkit-transition: .5s;
  transition: .5s;
}

.team-container .team .team-member .section-3 {
  max-width: 271px;
}

.team-container .team .team-member .member-name {
  font-size: 24px;
  line-height: 35px;
  margin-bottom: -3px;
  -webkit-transition: .5s;
  transition: .5s;
}

.team-container .team .team-member .regularText {
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

.team-container .team .team-member:hover section {
  margin-bottom: 3px;
}

.team-container .team .team-member:hover .member-name {
  margin-bottom: 2px;
}

@media screen and (max-width: 1100px) {
  .team-container .team {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 130px;
  }
  .team-container .team .team-member:not(:last-child) {
    margin-right: 0px;
  }
  .team-container .team .team-member:nth-last-child(2) {
    margin-right: 0px;
  }
  .team-container .team .team-member {
    margin: 0px 0px 25px 0px;
    max-width: 352px;
    height: 445px;
  }
  .team-container .team .section-3 {
    max-width: 100%;
  }
  .team-container .team .team-member.tm2 {
    margin: 0px 0px 25px 0px;
  }
}

@media screen and (max-width: 700px) {
  .team-container .team {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 120px;
  }
  .team-container .team .team-member {
    max-width: 280px;
    height: 354px;
    background-size: cover;
  }
  .team-container .team .team-member:hover {
    background-position: top;
    background-size: cover;
  }
  .team-container .section-3 {
    max-width: 263px;
  }
  .team-container .member-name {
    font-size: 18px;
    line-height: 26px;
  }
  .team-container .regularText {
    font-size: 14px;
  }
  .team-container .team-member.tm2 {
    margin: 0px 0px 25px 0px;
  }
}

/* Sparkle Team Block */
.simple-btn {
  border-radius: 23px;
  width: 233px;
  padding: 12px 0px;
  font-size: 18px;
  font-family: montRegularFont;
  -webkit-transition: all 0.4s cubic-bezier(0, 0.93, 1, 1.67);
  transition: all 0.4s cubic-bezier(0, 0.93, 1, 1.67);
}

.simple-btn:hover {
  cursor: pointer;
  text-decoration: none;
}

#formBtn {
  max-width: 182px;
  height: 62px;
  border-radius: 50px;
  font-size: 24px;
}

@media screen and (max-width: 700px) {
  #formBtn {
    max-width: 140px;
    height: 48px;
    font-size: 18px;
  }
}
/*# sourceMappingURL=style.css.map */